* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #e5e5e5;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: transparent;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 100px;
  }
  
  .izquierda {
    width: 50%;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    padding: 30px;
  }
  
  .derecha {
    width: 50%;
    background: linear-gradient(180deg, #74d3ff 0%, #09e7d8 100%), #3bddea;
    border-radius: 0px 20px 20px 0px;
    padding: 30px;
  }
  
  .size {
    width: 100%;
  }
  
  .flex {
    display: flex;
  }
  
  .flexColumn {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  label {
    display: block;
    margin: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0px;
    padding: 0px;
  }
  
  input[type="month"] {
    display: block;
    width: 70%;
    padding-right: 0px;
  }
  
  select {
    display: block;
    width: 100%;
    height: 35px;
  }
  
  .img {
    width: 186px;
    height: 114px;
    align-self: center;
  }
  
  h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
  }
  
  h4 {
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
  }
  
  p {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
  }
  
  button {
    width: 180px;
    height: 50px;
    align-self: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    background: linear-gradient(180deg, #74d3ff 0%, #09e7d8 100%), #3bddea;
    border: 1px solid #ffffff;
    margin-top: 0px;
  }
  
  button:hover {
    color: #74d3ff;
    font-weight: bold;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  